$display1-size:   4rem;
$display2-size:   3.5rem;
$display3-size:   3rem;
$display4-size:   2.5rem;

$lead-font-size: 1rem;
$lead-font-weight: 400;

$primary: #002554;
$secondary: #385E9D;
$success: #CEDC00;
$dark: #101820;
$light: #D9D9D9



